{% extends "patientapp/base.html"%}
{% load static %}

{% block content %}

<div class="w3-bar w3-white w3-center w3-padding-64 w3-opacity-min w3-hover-opacity-off">

    <form action="auth_user" method="POST">
        {% csrf_token %}


        <label for="uid">Skill:</label>
        <input type="text" id="uid" name="skill"><br><br>

        <label for="uid">Experience:</label>
        <input type="text" id="uid" name="experience"><br><br>

        <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
</div>

{% endblock %}