{% extends "patientapp/base.html"%}
{% load static %}

{% block content %}


<div class="w3-container w3-padding-14"  style="background-color:#060674;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">
    <h2 class="w3-center">Refer Here...</h2>
</div> <br>

<form class="w3-container w3-card-3 w3-padding-16 " action="register" method="post" style="background-color:#060674;"
    enctype="multipart/form-data">
    {% csrf_token %}

    <div class="w3-section">
        <label for="uname"
            style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">
            Name:</label>
        <input class="w3-input" type="text" id="username" name="empname" required>
    </div>

    <div class="form-group">
        <label for="mobile" style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Mobile No:</label><br>
        <input class="w3-input" type="tel" name="mobile" id="phone_number" pattern="[789][0-9]{9}" required="required" />

    </div>

    <div class="w3-section">
        <label for="email"
        style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Email:</label>
        <input class="w3-input" type="text" id="email" name="email">
    </div>

    <div class="w3-section">
        <label for="uname"
        style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Skill:</label>
        <input class="w3-input" type="text" id="username" name="skill" required>
    </div>


    <div class="w3-section">
        <label for="uid"
        style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Experience:</label>
        <input class="w3-input" type="text" id="uid" name="experience" required>
    </div>

    <div class="w3-section">
        <label for="myfile" style="font-size: large;color: aliceblue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Upload Resume:</label>
        <input type="file" id="myfile" name="resume">

    </div>

    <button type="submit" class="w3-button w3-center" style="background-color: #343486;color: aliceblue;">Submit</button>

</form>

{% endblock %}